body {
	margin:0;
		font-family: 'Pontano Sans', sans-serif;
		overflow: hidden;
}
a {
	text-decoration: none;
	color:black;
}
p {
	margin:0;
	display:inline;
}
h2 {
	margin:0;
}
.down-arrow {
	height:0px;
	width:0px;
	position: relative;
	top:calc(90vh - 200px);
	margin-left: auto;
	margin-right:auto;
	background-image: url("../img/arrow.png");
	background-position: center;
	background-size: cover;
	transition-duration: 0.3s;
	border-radius: 50%;
	padding:30px;
	border:solid 2px rgba(68, 161, 160, 0.3);
	cursor: pointer;
}
.down-arrow:hover {
	width:10px;
	height:10px;
	top:calc(90vh - 205px);
	border:solid 2px rgba(68, 161, 160, 1);
}
.name-text {
	text-align: center;
	font-size:4em;
	letter-spacing: 10px;
	height:10vh;
	width:30vw;
	margin:auto;
	position: relative;
	top:calc(40vh - 100px);
}
.first-page-container {
	width:100%;
	height: 100vh;
	background-image:url("../img/background.png");
	background-position: bottom;
	background-repeat:no-repeat;
	background-size:cover;
	overflow:hidden;
}
.navbar-link {
	font-size:1.5em;
	line-height: calc(100px - 0.75em);
	height:calc(100px - 1.5em);
}
.navbar-link:hover {
	border-bottom: #44A1A0 solid 2px;
}
.navbar-container {
	width:40%;
	margin-left:auto;
	height:100px;
	display:flex;
	justify-content: space-around;
}
.information-container {
	width:100%;
	height:95vh;
	background-image: url("../img/tile-background.jpg");
	padding-top:5vh;
}
.square-container {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height:95%;
}
.square {
	background-color: #44A1A0;
	height:calc(50% - 0.75vw);
	position:relative;
	overflow:hidden;
	padding:4px;
}
.right-square {
	width:29.25%;
}
.left-square {
	width:69.25%;
}
.square-1 {

}
.square-2 {
	cursor:pointer;
	background-image: url("../img/portfolio-background.jpg");
	background-position: center;
	background-size: cover;
}
.square-3 {
	cursor:pointer;
	background-image: url("../img/square-background.jpg");
	background-position: center;
	background-size: cover;
	align-self: flex-end;
}
.square-2 > .overlay:hover, .square-3 > .overlay:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
.overlay {
	position: relative;
	left:-4px;
	top:-4px;
	width:calc(100% + 8px);
	height:calc(100% + 8px);
}
.square-4 {
	align-self: flex-end;
}
.small-left-text-container {
	width:110%;
	background-color: #44A1A0;
	height:20%;
	position: absolute;
	bottom:-15px;
	left:-2px;
	transform: rotate(2deg);
	display:flex;
	justify-content: space-between;
}
.small-right-text-container {
	width:110%;
	background-color: #44A1A0;
	height:20%;
	position: absolute;
	bottom:-15px;
	right:-2px;
	transform: rotate(178deg);
	display:flex;
	justify-content: space-between;
}

.square-title-right {
	color:white;
	font-size:1.5em;
	font-weight: 200;
	margin:auto;
	letter-spacing: 2px;
	transform: rotate(182deg);
}
.square-title-left {
	color:white;
	font-size:1.5em;
	margin:auto;
	transform: rotate(-2deg);
	font-weight: 200;
	letter-spacing: 2px;
}
.title-info-text {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);
	width:calc(100% + 8px);
	position:relative;
	left:-4px;
	top:-4px;
}
.information-text {
	font-size: 2em;
	padding-top:30px;
	margin:auto;
}
.information-text-container {
	text-align: center;
	display:flex;
	flex-direction: column;

}
.strong {
	font-weight:900;
}
.a-hover {
	width:200px;
}
.a-hover:hover {
	font-size:2.15em;
}
.active {
	border-style:solid;
	border-width: 4px;
	border-color: yellow;
	padding:0;
}
.about-text {
	font-size: 1.5em;
	padding-top: 10px;
}
.underscore {
	text-decoration: underline;
}
.underscore:hover {
	text-decoration: none;
}